@page "/invoices"
@inherits InvoicesBase

<style>
    .spinner-border {
        width:1rem !important;
        height:1rem !important;
    }
</style>

<Alerts @ref="Alert"></Alerts>

<div class="row">
    <div class="col-1">
         <p>Cliente:</p>
    </div>
    <div class="col-3">
           <select class="form-control" @onchange="(ChangeEventArgs e) => ClientChange(int.Parse(e.Value.ToString()))">
            <option value="0"> - </option>
            @foreach (var client in Clients)
            {
                <option value="@client.ClientId">@client.Name</option>
            }
        </select>
    </div>
  </div>
<hr />

<Spinner Show="State.Searching"></Spinner>

@if (Invoices != null)
{
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Número de factura</th>
          <th scope="col">Importe</th>
          <th scope="col">Fecha</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var invoice in Invoices)
        {
            <tr>
                <td>@invoice.Client?.Name</td>
                <td>@invoice.InvoiceNumber</td>
                <td>$@invoice.TotalAmount</td>
                <td>@invoice.CreatedDate</td>
                <td>
                    <button disabled="@State.Processing" class="btn btn-dark" @onclick="() => EditInvoice(invoice)">
                        Editar &nbsp;
                        <Spinner Show="@State.Processing" ></Spinner>
                        @if (!State.Processing)
                        {
                            <i class="bi bi-pencil-square"></i>
                        }
                    </button>
                    <button disabled="@State.Processing" class="btn btn-success" @onclick="() => DownloadInvoice(invoice)">
                        Descargar &nbsp;
                        <Spinner Show="@State.Processing" ></Spinner>
                        @if (!State.Processing)
                        {
                            <i class="bi bi-download"></i>
                        }
                    </button>
                </td>
            </tr>
        }
    
      </tbody>
    </table>

}
