@page "/prices"
@inherits PricesBase

<diva class="row">
    <Alerts @ref="Alert"></Alerts>
</diva>

<HiddenFileInput 
    OnChange="UploadFile"
    @ref="FileInput"
></HiddenFileInput>


<div class="row">
    <div class="col-1">
        Lista
    </div>
    <div class="col-3">
        <select class="form-control" disabled="@State.Processing"
        @onchange="(ChangeEventArgs e) => PriceListChanged(int.Parse(e.Value.ToString()))">
            <option value="0">Todas</option>
            @foreach (var priceList in PriceLists)
            {
                if (State.PriceListSelected == priceList.PriceListId)
                {
                    <option value="@priceList.PriceListId" selected>@priceList.Name</option>
                }
                else
                {
                    <option value="@priceList.PriceListId">@priceList.Name</option>
                }
            }
        </select>
    </div>
    <div class="col-1">
        Producto
    </div>
    <div class="col-4">
        <SearchInput 
            Disabled="@State.Processing"
            OnSearch="SearchProducts"
            OnValueChanged="(string newValue) => State.ProductFilter = newValue"
            SearchValue="@State.ProductFilter"
            @ref="SearchInput"
        ></SearchInput>

    </div>

    <div class="col-2">
        <button class="btn btn-success" @onclick="() => FileInput.Open()">
            Importar Excel
        </button>
    </div>
</div>

<Spinner Show="@State.Processing"></Spinner>

@if (!State.Processing)
{
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                @if (State.PriceListSelected == 0)
                {
                    @foreach (var priceList in PriceLists.OrderBy(pl => pl.PriceListId))
                    {
                        <th scope="col">@priceList.Name</th>
                    }
                }
                else
                {
                    <th scope="col">@PriceLists.FirstOrDefault(pl => pl.PriceListId == State.PriceListSelected)?.Name</th>
                }
        </tr>
      </thead>
      <tbody>
        @foreach (var product in Products)
        {
            <tr>
                <td>@product.Code</td>
                <td>@product.Description</td>
                @foreach (var prices in product.Prices.OrderBy(p => p.PriceListModel.PriceListId))
                {
                    <td>@prices.Price</td>
                }
            </tr>
        }
      </tbody>
    </table>
}
