@using DistribuidoraGustavo.App.Utils
<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Distribuidora Gustavo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="bi bi-house"></i>&nbsp; Inicio
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@Views.Invoices.ToString()">
                <i class="bi bi-file-spreadsheet"></i>&nbsp; Facturas
            </NavLink>
        </div>
          <div class="nav-item">
            <NavLink class="nav-link" href="@Views.AddOrEditInvoice.ToString()">
                <i class="bi bi-file-earmark-plus"></i>&nbsp; Agregar Factura
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@Views.Clients.ToString()">
                <i class="bi bi-person"></i>&nbsp; Clientes
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@Views.Prices.ToString()">
                <i class="bi bi-currency-dollar"></i>&nbsp; Lista de precios
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@Views.Products.ToString()">
                <i class="bi bi-list-columns"></i> &nbsp; Productos
            </NavLink>
        </div>
         <div class="nav-item">
            <NavLink class="nav-link" href="@Views.Balances.ToString()">
                <i class="bi bi-card-checklist"></i> &nbsp; Saldos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
